header
  background: gold
  border-bottom: 1px solid rgba(grey, 0.1)
#header_inner
  max-width: $site-width
  margin: 0 auto
  padding: 10px 20px
h1
  color: white
  font-weight: lighter
  margin: 0

#page_wrapper
  background: white
  max-width: $site-width
  height: 1000px
  margin: 0 auto
  padding: 50px

#main_content

.note
  background: lightyellow
  display: inline-block
  margin-bottom: 5px
  padding: 10px
  h4
    margin: 0
  p
    font-size: 0.7rem
    color: rgba(black, 0.4)
